@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

header {
    display: inline;
}

.logo {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.logo img {
    width: 200px;
}

nav {
    width: 100%;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

nav ul{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 0px 50px;
    text-transform: uppercase;
}

nav li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}

nav li:hover {
    font-weight: bold;
    cursor: pointer;
}

.jumbotron, .slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.jumbotron {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
    background-image: url('../img/1.jpg');
}
.slide2 {
    background-image: url('../img/2.jpg');
}
.slide3 {
    background-image: url('../img/3.jpg');
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content::before {
    content: '';
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-content h3 {
  font-size: 3em;
  color: #fff;
  z-index: 2;
}

.slide-content p {
    color: #fff;
    font-size: 24px;
    z-index: 2;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  z-index: 2;
}

#arrow-left {
    left: 0;
    color: #fff;
    left: 3%;
}

#arrow-right {
    right: 0;
    color: #fff;
    right: 5%;
}

.arrow span {
    width: 100px;
    font-size: 30px;
    font-weight: bold;
}
  
span {
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

.logo h1 {
    font-size: 42px;
    font-weight: normal;
    font-family: 'Lobster', cursive;
}

#wisata{
    margin-top: 15px;
    display: flex;
    padding: 100px 10px 0px 10px;
}

.container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    margin: 25px 0px 40px 0px;
}

.card {
    width: 300px;
    min-height: 490px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.247);
}

.card img {
    border-radius: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card h3, h6, p {
    margin: 10px 20px;
}

.card p {
    text-align: justify;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

.profile {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 110px;
}

.profile aside {
    padding: 30px 10px;
    width: 90%;
    min-height: 400px;
    max-height: 900px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.247);
}

.profile aside h2 {
    margin-bottom: 25px;
}

.profile aside img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile aside h6 {
    color: #b3afaf;
    letter-spacing: 3px;
}

.profile aside p {
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Manrope', sans-serif;
}

#gallery {
    margin-top: 20px;
    width: 100%;
    padding: 100px 0px 0px 0px;
}

#gallery .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .image img {
    width: 400px;
    height: 270px;
    margin: 5px;
    object-fit: cover;
    object-position: center;
}

#gallery .image img:hover{
    filter: grayscale(100%);
}

#contact {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px 0px;
    flex-wrap: wrap;
}

.social-media {
    margin: 0px 25px;
}

.social-media a i{
    color: #000;
}

footer {
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer p {
    color: #fff;
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 5px 10px;
    }

    nav li {
        margin: 5px 12px;
        font-size: 12px;
    }

    .logo {
        padding: 10px;
    }

    .logo h1 {
        font-size: 32px;
    }

    h1 {
        font-size: 23px;
    }

    #wisata {
        display: unset;
    }

    #gallery {
        width: 100%;
    }

    #gallery .image img{
        width: 100%;
    }

    .jumbotron, .slide-content {
        height: 60vh;
    }

    .slide-content h3 {
        font-size: 30px;
    }
      
    .slide-content p {
          font-size: 18px;
    }
    
    #arrow-right {
        right: 0;
        color: #fff;
        right: 8%;
    }
}
